.post-list {
  &__small {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-gap: 1.2em;
    a {
      color: var(--bodyText);
    }
  }

  &__medium {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.2em;
  }
}
